version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    command: ["npm", "start"]
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - BROWSER=none
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    networks:
      - app-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    command: ["flask", "run", "--host=0.0.0.0", "--port=7000"]
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - FLASK_APP=app.py
    volumes:
      - ./backend:/app
    ports:
      - "4001:7000"
    networks:
      - app-net

networks:
  app-net:
    driver: bridge

volumes:
  frontend_node_modules:
